.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding: 14px 16px;
  text-decoration: none;
    background-color: black;
  font-size: 20px;
}

.topnav a:hover {
  background-color: white;

  color: black;
}
span.numbe{
  background-color: yellow;
  padding: 5px;
  color: red;
  border-radius: 5px;
}
a{
color:white;
}
.topnav{
  width: 1352px;
  height: 56px;
  background-color: black;
}

a:hover{
color:white;
}
